[Unit]
Description=Network Monitor uses speedtest and sends to visualizer
After=network.target

[Service]
ExecStart=/home/pi/netmon/netmon.sh
WorkingDirectory=/home/pi/netmon
StandardOutput=inherit
StandardInput=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

